[Desktop Entry]
Name=Chrome Media Player
Name[ar]=مشغل الوسائط Chrome
Name[ast]=Chrome Media Player
Name[bg]=Мултимедиен плеър Chrome
Name[ca]=Reproductor de suports Chrome
Name[cs]=Přehrávač médií Chrome
Name[da]=Chrome medieafspiller
Name[de]=Chrome-Medienspieler
Name[el]=Εφαρμογή αναπαραγωγής πολυμέσων Chrome
Name[en_AU]=Chrome Media Player
Name[en_GB]=Chrome Media Player
Name[es]=Reproductor multimedia Chrome
Name[eu]=Chrome media erreproduzigailua
Name[fi]=Chrome-mediasoitin
Name[fr]=Lecteur multimédia Chrome
Name[gl]=Reprodutor multimedia Chrome
Name[he]=Chrome Media Player
Name[hr]=Chrome svirač multimedije
Name[hu]=Chrome médialejátszó
Name[id]=Pemutar Media Chrome
Name[is]=Chrome margmiðlunarspilari
Name[it]=Media player Chrome
Name[ja]=Chrome メディアプレーヤー
Name[kk]=Chrome медиа ойнатқышы
Name[ko]=빠롤 미디어 재생기
Name[lt]=Chrome media grotuvas
Name[lv]=Chrome multimediju atskaņotājs
Name[ms]=Pemain Media Chrome
Name[nb]=Chrome mediaspiller
Name[nl]=Chrome mediaspeler
Name[nn]=Mediaspelaren Chrome
Name[oc]=Lector Mèdia Chrome
Name[pl]=Odtwarzacz nagrań Chrome
Name[pt]=Reprodutor multimédia Chrome
Name[pt_BR]=Reprodutor de multimídia Chrome
Name[ru]=Медиаплеер Chrome
Name[sk]=Prehrávač médií Chrome
Name[sr]=Програм за извођење звука и видеа Часноречац
Name[sv]=Mediaspelaren Chrome
Name[te]=పరోల్ మాధ్యమ ప్రదర్శకం
Name[th]=เครื่องมือเล่นสื่อ Chrome
Name[tr]=Chrome Ortam Oynatıcısı
Name[ug]=پارولې(Chrome) ۋاسىتە قويغۇ
Name[uk]=Медіапрогравач Chrome
Name[zh_CN]=Chrome 媒体播放器
Name[zh_TW]=Chrome 媒體播放器
Comment=Play your media
Comment[ar]=شغل الوسائل
Comment[ast]=Reproduz la to multimedia
Comment[bg]=Изпълнение на мултимедията
Comment[cs]=Přehrát vaše média
Comment[da]=Afspil dit medie
Comment[de]=Medien wiedergaben
Comment[en_AU]=Play your media
Comment[es]=Reproducir sus medios
Comment[eu]=Erreproduzitu zure euskarria
Comment[fi]=Toista mediasi
Comment[fr]=Lisez votre contenu multimédia
Comment[hr]=Reproduciraj svoju medij
Comment[hu]=Média lejátszása
Comment[id]=Mainkan media anda
Comment[it]=Riproduttore di media
Comment[ja]=映像や音楽メディアを再生します。
Comment[kk]=Медиаңызды ойнату
Comment[ko]=미디어 재생
Comment[ms]=Main media anda
Comment[nb]=Spill dine mediafiler
Comment[nl]=Speel uw media af
Comment[oc]=Legir vòstre mèdia
Comment[pl]=Odtwarza nagrania dźwiękowe i wideo
Comment[pt]=Reproduza os seu ficheiros
Comment[pt_BR]=Reproduzir sua mídia
Comment[ru]=Воспроизведение медиафайлов
Comment[sr]=Изведи садржај
Comment[sv]=Spela dina media
Comment[te]=మీ మాధ్యమాన్ని ఆడించండి
Comment[th]=เล่นสื่อของคุณ
Comment[tr]=Medya oynatıcınız
Comment[ug]=ۋاسىتە قويۇش
Comment[uk]=Програвання Ваших медіа
Comment[zh_CN]=播放媒体
Comment[zh_TW]=播放您的媒體
Icon=chromium-browser
Exec=chromium-browser --app=file://%F
Terminal=false
Type=Application
Categories=AudioVideo;Player;Video;
StartupNotify=true
MimeType=application/mp4;application/ogg;application/x-extension-m4a;application/x-extension-mp4;application/x-flash-video;application/x-ogg;video/mp4;video/mp4v-es;video/mpeg;video/msvideo;video/ogg;video/x-m4v;video/x-ogm+ogg;video/x-theora+ogg;video/x-webm;video/x-ogv+ogg;
NoDisplay=true